# Qt Creator
.qtcreator/

# Build artifacts
*.o
*.obj
*.so
*.dll
*.exe
build/

# Logs
*.log

# Qt_python
*.autosave
*.pro.user

# Python
__pycache__/
*.pyc
*.pyo

# General
.DS_Store     

# Output from UI --> Assembler communication
temp.s
output.txt